.draw-box {
  height: 135px;
  position: absolute;
  top: 47%;
  z-index: 1;
  right: 7%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

#draw {
  font-size: 22px;
  font-weight: 700;
}
