.monster-box {
  height: 135px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
  right: 7%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d02a2a;
  opacity: 1;
  flex-direction: column;
}

#monsterWon {
  font-size: 20px;
  font-weight: 700;
}
#playing1 {
  font-size: 20px;
}
